<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <!-- Slider-->
    <link href="../static/css/slider.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/style.css" rel="stylesheet">




    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">Price My Ticket</a>
        </div>
        <div class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li><a href="/index">Home</a></li>
            <li class="active"><a href="/analytics">Analytics</a></li>
            <li><a href="/slides">Slides</a></li>
            <li><a href="/contact">About Me</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>






    <div> <!-- /.container -->
      <div class="col-md-12">
        <div class="panel panel-primary" >
          <div class="panel-heading">
             <h5>Selling Tickets</h5> 
           </div>
            <div class="panel-body">
              <div class="col-md-3 well">
                   <h6>Though buying and selling tickets to a baseball game may seem simple, this is actually a complex market. Supply and demand for each ticket can vary between games and over time. This page helps explain some of the most important variation drivers of ticket prices and the location of the seats in the stadium. On the right is a map of AT&T Park, the stadium where the San Francisco Giants play. Unsurprisingly, tickets that offer a better view of the game can be sold for more money.
                   </h6> 
              </div>
              <div class="col-md-9">
                <div class="text-center">
                  <img class="seating_map" src="http://sanfrancisco.giants.mlb.com/sf/images/ballpark/y2012/seating_map_1000x688.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>



      <div class="col-md-12">
        <div class="panel panel-primary" >
          <div class="panel-heading">
             <h5>Variation Between Sections</h5> 
           </div>
            <div class="panel-body">
              <div class="col-md-3 well">
                   <h6>This graphic shows the variation in ticket price between sections of the stadium. The darkness of each cell represents the difference in average price between the section on the horizontal axis and the vertical axis. The lighter shaded cells are similarly priced sections and the darker cells are very differently priced sections.<br><br>. There are two primary clusters of ticket prices. One cluster represents more expensive tickets, in the lower deck near the field (shown in the upper left), and the other shows cheaper tickets in other sections (lower right).<br><br>Of course, it is not surprising that the selling price of tickets varies with location in the stadium. However, this graphic helps visualize the choices that consumers make. Each ticket is an imperfect substitute for every other ticket. The shaded difference matrix provides a way to visulalize the relationship between sections, allowing sellers to visualize the market. </h6> 
              </div>
              <div class="col-md-9">
                <div class="d3_holder">
                  <iframe id="section_d3" src="/test" frameborder="0" width="600" scrolling="no"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      

         <div class="col-md-12">
        <div class="panel panel-primary" >
          <div class="panel-heading">
             <h5>Variation Between Seats</h5> 
           </div>
            <div class="panel-body">
              <div class="col-md-3 well">
                   <h6>These graphics show the variation between specific seats within the sections. The patterns in this relationship are less clear. This suggests that when choosing among seats within a section, other factors besides the location in the stadium are important drivers of the selling price. For example, the time before the game or the availability of multiple seats together. <br><br> In fact, the random forest model underlying the predictions on the first page supports this finding. Deck and section are the two most important predictors of the selling prices of tickets, but the time before the game is more important than the row or the seat.</h6> 
              </div>
              <div class="col-md-9">
                 <div class="col-md-6">
                  <div class="d3_holder">
                  <h5>Behind Home Plate </h5>
                   <iframe id="section_d3_1" class="section_d3" src="/matrix2" frameborder="0" scrolling="no"></iframe>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="d3_holder">
                  <h5>Upper Deck </h5>
                   <iframe id="section_d3_2" class="section_d3" src="/matrix3" frameborder="0" scrolling="no"></iframe>
                  </div>
                </div>
            </div>
          </div>
        </div>



    </div><!-- /.container -->
 </body>











    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-slider.js"></script>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.1.0.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-slider.js"></script>


    <script >$("#heatmap").load("heatmap");</script>
    <script >$("#section_matrix").load("test");</script>
    <script >$("#matrix_test_177").load("matrix2");</script>