<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <!-- Slider-->
    <link href="../static/css/slider.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/style.css" rel="stylesheet">




    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">Price My Ticket</a>
        </div>
        <div class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li><a href="/index">Home</a></li>
            <li><a href="/analytics">Analytics</a></li>
            <li><a href="/slides">Slides</a></li>
            <li class="active"><a href="/contact">About Me</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>






    <div> <!-- /.container -->
      <div class="col-md-6">
        <div class="panel panel-primary" >
          <div class="panel-heading">
             <h5>Evan Bloom</h5> 
           </div>
            <div class="panel-body">
              <div class="col-md-12 well">
                   <h6>This application was created by Evan Bloom. Evan Bloom is an <a href= "http://insightdatascience.com">Insight Data Science Fellow</a>. Evan is interested in data science, analytics, economics, and helping people make better decisions with data. He is also a big fan of the San Francisco Giants. <br> <br>

                    Evan is completing a Ph.D. in Policy Analysis from the <a href= "http://www.prgs.edu">Pardee RAND Graduate School</a> and most recently worked as an Assistant Policy Analyst at the <a href= "http://www.rand.org">RAND Corporation</a> His research uses simulation modeling, computational experiments, statics and data-mining, and interactive visualization to share policy insights in policy contexts with deeply uncertain conditions. He has used these tools to help planners at the World Bank, U.S. Bureau of Reclamation, California Department of Water Resources, and the Metropolitan Water District adapt to climate change. Evan has also used similar methods to assist the L.A. Department of Health as they allocate resources among many interventions to prevent the spread of HIV. You can read more about Evan's <a href="http://www.rand.org/about/people/b/bloom_evan.html#publications"> research </a> .<br><br>

                    Feel free to reach him through <a href="mailto:bloom.evan@gmail.com"> email </a> or on <a href="https://www.linkedin.com/in/bloomevan">LinkedIn</a>


                   </h6> 
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-center">
            <img id="epic" src="http://i.imgur.com/CfhbK6t.jpg">
          </div>
        </div>
            

    </div><!-- /.container -->
 </body>











    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-slider.js"></script>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.1.0.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-slider.js"></script>


    <script >$("#heatmap").load("heatmap");</script>
    <script >$("#section_matrix").load("test");</script>
    <script >$("#matrix_test_177").load("matrix2");</script>